@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Noto+Sans:wght@400;700;800&family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');

/* fonts
font-family: 'Montserrat', sans-serif;  main for now
- weights 300(light) 400(regular), 700(bold)
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif; */


:root {
  --main-color: #3d8ae0;
  --main-color-dark: #08111c;
  --alt-color: #3A8E88;
  --alt-color-2: #3dcfe0;
  --dark-color: #031b19;
  --light-color: #DEF2F0;
}

.App {
  text-align: center;
  font-family: sans-serif;
}


